<a href="https://colab.research.google.com/github/syifa43325103-debug/Anisa-Aulia-Nurusyifa---Jobsheet-01/blob/main/Anisa_Aulia_Nurusyifa_Jobsheet_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Praktikum 01 - Pengenalan Variable dan Tipe Data

In [ ]:
# Integer
umur = 20
print("Umur:", umur, "->", type (umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "->", type (tinggi))

# String
nama = "Andi"
print("Nama:",nama, "->", type (nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "->", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai", nilai, "->", type (nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "->", type (koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur":20, "prodi": "TRK"}
print ("Data Mahasiswa:", mahasiswa, "->", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "->", (hobi))

Umur: 20 -> <class 'int'>
Tinggi: 170.5 -> <class 'float'>
Nama: Andi -> <class 'str'>
Status Mahasiswa: True -> <class 'bool'>
Nilai [80, 85, 90] -> <class 'list'>
Koordinat: (10, 20) -> <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} -> <class 'dict'>
Hobi: {'musik', 'olahraga', 'membaca'} -> {'musik', 'olahraga', 'membaca'}

Praktikum 02 - Input dan Output Dasar

In [ ]:
# Input string
nama = input("Masukkan nama Anda:")

# Input integer
umur = int(input("Masukkan umur Anda:"))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm):"))

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format ()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda:syifa
Masukkan umur Anda:18
Masukkan tinggi badan (cm):160
Halo, syifa umur Anda: 18 tahun, tinggi: 160.0 cm
Halo syifa, umur Anda 18 tahun, tinggi 160.0 cm
Halo syifa, umur Anda 18 tahun, tinggi 160.0 cm

Praktikum 03 - Operator Aritmatika

In [ ]:
a = 15
b = 4

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a // b =", a // b)
print("a % b =", a % b)
print("a ** b =", a ** b)
# Hasil program menunjukkan bahwa Python mampu melakukan perhitungan dasar dengan operator yang sederhana dan intuitif.

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

Praktikum 04 - Operator Rasional

In [ ]:
x = 10
y = 20

print("x == y:", x == y)
print("x != y:", x != y)
print("x > y:", x > y)
print("x < y:", x < y)
print("x >= y:", x >= y)
print("x <= y:", x <= y)

x == y: False
x != y: True
x > y: False
x < y: True
x >= y: False
x <= y: True

Praktikum 05 - Operator Logika dengan Studi Kasus Nyata

In [ ]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b =", a or b)
print("not a =", not a)

# Studi kasus nyata: kelulusan
nilai = int(input("Masukkan nilai ujian:"))
hadir = int(input("Masukkan jumlah kehadiran:"))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Status: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
Masukkan nilai ujian:65
Masukkan jumlah kehadiran:16
Status: LULUS

Praktikum 06 - Program Kasir Sederhana

In [ ]:
barang = input("Masukkan nama barang: ")
harga = float(input("Masukkan harga barang:"))
jumlah = int(input("Masukkan jumlah barang:"))

total = harga + jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

potongan = total * diskon
bayar = total - potongan

print ("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Masukkan nama barang: pensil
Masukkan harga barang:500000
Masukkan jumlah barang:2

===== Struk Belanja =====
Barang : pensil
Jumlah : 2
Total : Rp 500002.0
Diskon : 20.0%
Bayar : Rp 400001.6

Identitas Mahasiswa

In [ ]:
nama = str(input("Masukkan nama Anda:"))
umur = int(input("Masukkan umur Anda:"))
tinggi = float(input("Masukkan tinggi badan (cm):"))
status_aktif = True

print (f"Halo {nama}, umur saya {umur} tahun, tinggi {tinggi} cm, status aktif {status_aktif}")

Masukkan nama Anda:syifa
Masukkan umur Anda:18
Masukkan tinggi badan (cm):160
Halo syifa, umur saya 18 tahun, tinggi 160.0 cm, status aktif True

Operasi Aritmatika

In [ ]:
a = 10
b = 5

print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =",a / b)
print("a // b =", a // b)
print("a ** b =", a ** b)

a + b = 15
a - b = 5
a * b = 50
a / b = 2.0
a // b = 2
a ** b = 100000

Konversi Nilai

In [ ]:
a=float(input("Masukkan bilangan a:"))

print("Hasil konversi nilai:", int(a))
print("Hasil konversi nilai:", str(a))
print("Hasil konversi nilai:", round(a))

Masukkan bilangan a:10.5
Hasil konversi nilai: 10
Hasil konversi nilai: 10.5
Hasil konversi nilai: 10

Operator Relasional ==, !=, <, >, <=, >=.

In [ ]:
x=int(input("Masukkan bilangan x:"))
y=int(input("Masukkan bilangan y:"))

print("x == y:", x == y)
print("x != y:", x != y)
print("x < y:", x < y)
print("x > y:", x > y)
print("x <= y:", x <= y)
print("x >= y:", x >= y)

Masukkan bilangan x:6
Masukkan bilangan y:9
x == y: False
x != y: True
x < y: True
x > y: False
x <= y: True
x >= y: False